{% extends "questions/base.html" %}

{% load bootstrap5 %}

{% block title %}{{question.header}}{% endblock %}

{% block content %}
    <div class="bg-light rounded w-75 p-3">
        <h1 class="display-5 text-primary border-bottom border-primary pb-2">{{question.header}}</h1>
        <p class="lead">{{question.question_text}}</p>

        <form action="{% url 'polls:question' question.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form answer_form %}
            <div class="d-flex justify-content-around">
                <a href="javascript:history.back()" class="btn btn-primary w-25">
                    &laquo;

                    {% if question.number_in_poll == 0 %}
                        Назад
                    {% else %}
                        Предыдущий вопрос
                    {% endif %}
                </a>

                <input type="submit" class="btn btn-success w-25" 
                {% if question.number_in_poll == last_question_num %}
                    value="Закончить опрос"
                {% else %}
                    value="Следующий вопрос &raquo"
                {% endif %} >
            </div>
        </form>
    </div>
    
{% endblock %}