{% extends "questions/base.html" %}

{% load bootstrap5 %}

{% block title %}Create user{% endblock %}

{% block content %}
    <p>
        <form method="post" action="{% url 'users:create_user' %}" enctype="multipart/form-data" class="bg-light p-3 rounded">
            <h1 class="display-5">Регистрация</h1>
            {% csrf_token %}
            <fieldset id="user_form">
                {% bootstrap_form user_form %}
            </fieldset>
            <fieldset id="profile_form">
                {% bootstrap_form profile_form %}
            </fieldset>
            <button type="submit" class="btn btn-success">Create user</button>
        </form>
    </p>
    <p>

    </p>
    
{% endblock %}